.edit-instrument-container {
    width: 80%;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .edit-instrument-container h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .edit-instrument-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
.image-preview {
    margin-top: 10px;
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 4px;
  }
  
  
  label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .form-control-file {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .submit-button {
    padding: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .loading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    color: #555;
  }
  